body {
    width: 600px !important;
    max-width: 600px !important;
    padding: 50px;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}
th,
td {
    border: 1px solid #ccc;
    padding: 3px 5px;
}
th {
    background: #eee;
}
